body {
    background-color: black;
    color: var(--title-color);
}

:root {
    --primary-color: #d80505;
    --secondary-color: #feb902; 
    --background-color: #000000; 
    --title-color: #ffffff;  
  }

img {    
    max-width: 200px;
    height: auto;
}

a {
    text-decoration: none;
}

h1 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: var(--title-color);
    margin-bottom: 20px;
}

h2 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    margin: 0;
    color: var(--primary-color);
}

h3 {
    text-align: center;
    background-color: black;
    padding: 20px;
    color: var(--primary-color);
    font-family: "Pacifico", cursive;
    font-weight: 4   00;
    font-style: normal;
    font-size: 60px;
    margin: 0;
    border: 0;
}

p {
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color: var(--background-color);
    top: 0;
}

#header_name {
    width: 35%;
    text-align: center;
    padding-left: 4cqmin;
    padding-right: 20px;
}

#header_nav {
    display: flex;
    width: 65%;
    justify-content: space-between;
}

#navbar_items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    padding-left: 20px;
    padding-right: 40px;
}

#navbar_items li {
    list-style-type: none;
    margin: 0 10px;
    align-items: center;    
    display: flex;
}

#navbar_items li a {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: var(--secondary-color);
}

#home {
    height: 100vh;
    display:grid;
    align-content: center;
}

#homepage {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#main_photo img {
    border-radius: 250px;
}

figcaption {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.socials {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.socials a img {
    max-width: 50px;
    height: auto;
    border-radius: 0%;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

#enter_button {
    color: var(--title-color);
    background-color: var(--primary-color);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    border-radius: 20px;
    padding: 10px 20px;
    align-self: center;
    margin-bottom: 20px;
}

.page {
    background-color: var(--background-color);
}

section {
    height: 93vh;
    padding: 0;
}

.section_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about_me .section_container {
    flex-direction: column;
}

.section_container div {
    width: 100%;
    height: 100%;
}

#about_me_photo {
    text-align: center;
}

#about_me_photo img {
    max-width: 400px;
    height: auto;
    padding: 40px;
}

#about_me_text {
    width: 50%;
    display: flex;
    align-items: center;
}